# Base de datos PostgreSQL (Supabase)
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="tu-secreto-super-secreto-cambiame-en-produccion"

# Entorno
NODE_ENV="development"
